.destinations-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.destinations .img-item {
  width: 100%;
  height: 312px;
}

.destinations .img-item.tokyo {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.destinations .img-item.osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

.destinations .item header h3 {
  margin: 24px 0;
}

.destinations .item p {
  margin-bottom: 24px;
}

.destinations .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }
  .destinations .img-item {
    width: 100%;
    height: 452px;
  }
  .destinations .img-item.tokyo {
    background: url(../img/tokyo-tablet.jpg);
    background-size: cover;
  }
  .destinations .img-item.osaka {
    background: url(../img/osaka-tablet.jpg);
    background-size: cover;
  }
  .destinations .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }
  .destinations .img-item {
    width: 100%;
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destinations-items {
    flex-direction: row;
  }
}
