.form-input {
  width: 312px;
  margin: 56px auto 0;
  box-sizing: border-box;
  align-items: center;
}

fieldset {
  border: none;
}

.form-input input {
  width: 312px;
  margin-bottom: 64px;
  border: none;
  outline: none;
  border-bottom: 2px solid #d9d9d9;
}

input[type="text"]:focus,
input[type="tel"]:focus {
  border-bottom: 2px solid var(--secondary-color);
}

.form-input input,
placeholder {
  font-size: 20px;
  line-height: 32px;
  color: #8c8c8c;
  font-family: Montserrat;
}

label {
  font-size: 20px;
  line-height: 32px;
  color: #8c8c8c;
}

textarea {
  width: 312px;
  min-height: 90px;
  border-radius: 16px;
  margin: 8px auto 32px;
}

textarea:focus {
  color: var(--secondary-color);
}

.form .button {
  display: flex;
  width: 312px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .form-input,
  .form-input input,
  textarea {
    width: 648px;
  }
}

@media screen and (min-width: 1024px) {
  .form-input,
  .form-input input,
  textarea {
    width: 790px;
  }
  .form-input .line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 790px;
    gap: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .form-input,
  .form-input input,
  textarea {
    width: 1110px;
  }
  .form-input .line {
    max-width: 1110px;
  }
}