.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/bg-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

/*PACOTE DE VIAGENS, BLOG E CONTATO*/
.travel-packages.hero,
.blog.hero,
.contact.hero {
  margin-bottom: 88px;
}

.travel-packages .hero-content,
.blog .hero-content,
.contact.hero .hero-content {
  padding: 65px 24px;
}

.travel-packages .hero-content h1,
.blog .hero-content h1,
.contact .hero-content h1 {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);
}

.travel-packages .hero-content hr,
.blog .hero-content hr,
.contact .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
}

.travel-packages .hero-content p,
.blog .hero-content p,
.contact .hero-content p {
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
}

/*BLOG*/
.blog .hero-img {
  height: 460px;
  background: url(../img/blog/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

/*PACOTE DE VIAGENS*/
.travel-packages .hero-img {
  height: 460px;
  background: url(../img/travel-packages/hero-tablet.jpg) no-repeat;
  background-size: cover;
}

.travel-packages.bottom-hero .hero-img {
  height: 400px;
  background: url(../img/travel-packages/bottom-hero-mobile.jpg) no-repeat;
  background-size: cover;
}

/*CONTATO*/
.contact .hero-img {
  height: 460px;
  background: url(../img/contact/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.contact.bottom-hero .hero-img {
  height: 400px;
  background: url(../img/contact/bottom-hero-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bottom-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  /*PACOTE DE VIAGENS, BLOG E CONTATO*/
  .travel-packages .hero-content,
  .blog .hero-content,
  .contact.hero .hero-content {
    padding: 210px 70px 107px;
  }

  .travel-packages .hero-content p,
  .blog .hero-content p,
  .contact .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }

  /*BLOG*/
  .blog .hero-img {
    height: 620px;
    background: url(../img/blog/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  /*PACOTE DE VIAGENS*/
  .travel-packages .hero-img {
    height: 620px;
    background: url(../img/travel-packages/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .travel-packages.bottom-hero .hero-img {
    background: url(../img/travel-packages/bottom-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  /*CONTATO*/
  .contact .hero-img {
    height: 620px;
    background: url(../img/contact/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
   .contact.bottom-hero .hero-img {
    height: 600px;
    background: url(../img/contact/bottom-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }

  /*PACOTE DE VIAGENS, BLOG E CONTATO*/
  .travel-packages .hero-content,
  .blog .hero-content,
  .contact.hero .hero-content {
    padding: 150px 120px 170px;
    margin: 0 auto;
  }

  .travel-packages .hero-content p,
  .blog .hero-content p,
  .contact.hero .hero-content p {
    width: 570px;
  }

  /*BLOG*/
  .blog .hero-img {
    height: 620px;
    background: url(../img/blog/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  /*PACOTE DE VIAGENS*/
  .travel-packages .hero-img {
    height: 620px;
    background: url(../img/travel-packages/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .travel-packages.bottom-hero .hero-img {
    height: 600px;
    background: url(../img/travel-packages/bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  /*CONTATO*/
  .contact .hero-img {
    height: 620px;
    background: url(../img/contact/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

   .contact.bottom-hero .hero-img {
    height: 600px;
    background: url(../img/contact/bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  /*PACOTE DE VIAGENS E BLOG*/
  .travel-packages .hero-content,
  .blog .hero-content {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 160px;
  }
}
