.blog.tokyo {
  display: flex;
  flex-direction: column;
}

.blog-tokyo h3 {
  margin-top: 32px;
}

.blog-tokyo .img-tokyo {
  width: 100%;
  height: 360px;
  margin-top: 24px;
}

.blog-tokyo .arrival .img-tokyo {
  background: url(../img/blog/tokyo-house-mobile.jpg);
  background-size: cover;
}

.blog-tokyo .exploring .img-tokyo {
  background: url(../img/blog/tokyo-city-mobile.jpg);
  background-size: cover;
  margin-bottom: 8px;
}

.blog-tokyo .exploring h4 {
  font-size: 14px;
  line-height: 28px;
  font-weight: var(--text-weight);
  margin: 8px auto 0;
}

@media screen and (min-width: 768px) {
  .blog-tokyo .arrival {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }
  .blog-tokyo .arrival .img-tokyo {
    width: 312px;
    background: url(../img/blog/tokyo-house-tablet.jpg);
    background-size: cover;
  }
  .blog-tokyo .exploring .img-tokyo {
    background: url(../img/blog/tokyo-city-tablet.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .blog-tokyo .arrival .img-tokyo {
    width: 588px;
    background: url(../img/blog/tokyo-house-desktop.jpg);
    background-size: cover;
  }
  .blog-tokyo .exploring .img-tokyo {
    background: url(../img/blog/tokyo-city-desktop.jpg);
    background-size: cover;
  }
}
